= form_for @bill, html: {class: ''} do |f|
  %div.well
    %div.row
      %div.form-group.col-xs-12.col-sm-3
        = f.label :amount, "Kwota:", class: "sr-only"
        %div.input-group
          = f.number_field :amount, class: 'form-control', placeholder: "np. 10,40", min: 0.01, max: 1000000, step: 0.01
          %span.input-group-addon
            zł
      %div.form-group.col-xs-12.col-sm-6.col-md-7
        = f.label :description, "Opis:", class: "sr-only"
        = f.text_field :description, class: 'form-control', placeholder: "np. Zakupy w Tesco"

      %div.form-group.col-xs-12.col-sm-3.col-md-2
        = render partial: 'bills/payment_types', locals: {f: f}

    %div.row
      %div.form-group.col.xs-12.col-sm-3
        = f.submit 'Zapisz wydatek', class: 'btn btn-primary btn-block btn-bill', data: {'loading-text' => 'Zapisywanie...'}